@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #f72e0a;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
}

