@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #2F2544;
    --secondary-color: #448CF0;
}

body {
    font-family: 'Dongle';
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.nav-bar {
    background: white;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 60px;

    a {
        text-decoration: none;
    }

    nav {
        padding-right: 5%;
        padding-left: 5%;
        background: white;
        display: flex;
        place-content: space-between;

        img {
            place-content: flex-start;
            margin-top: 10px;
        }

        ul.pri-nav-links {
            display: flex;
            place-content: center;

            a {
                margin-left: 2.5em;
                place-content: center;
                color: gray;
            }
        }

        ul.sec-nav-link {
            place-content: flex-end;

            a {
                color: white;
                padding: .6em 1.0em;
                font-size: 0.8em;
                margin-top: -0.3em;
                font-weight: normal;
                background: var(--primary-color);
                display: inline-block;
                border-radius: 1.6em;
            }
        }
    }

}

section.hero-cta {
    width: 100%;
    height: 480px;

    img {
        width: 100%;
        max-height: 100%;
        // filter: blur(1px);
        object-fit: cover;
        filter: brightness(0.4);
    }

    .hero-texts {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 2.5em;

        .small-hero-nav {
            font-weight: normal;
            font-size: 0.4em;

            #small {
                font-size: 0.6em;
            }
        }
    }
}

section.focus {
    display: flex;
    height: 500px;
    width: 90%;
    margin: 5% 5% 5% 5%;

    img {
        width: 45%;
        max-height: 100%;
        object-fit: cover;
    }

    .focus-block {
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;

        h2 {
            color: var(--primary-color);
            font-weight: bold;
            font-size: 2.2em;
        }

        h3 {
            color: var(--primary-color);
        }

        p {
            line-height: 1.3;
            color: var(--primary-color);
            text-align: left;
            font-size: 1.1em;
        }
    }
}

section.services {
    height: 600px;
    width: 100%;
    background: whitesmoke;
    color: var(--primary-color);

    .services-banner {
        text-align: center;
        height: 50px;
        padding-top: 2%;
        padding-bottom: 8%;

        h2 {
            font-weight: bold;
            font-size: 2.5em;

            span {
                color: var(--secondary-color);
            }
        }

        h3 {
            font-size: 0.8em;
        }
    }

    .services-options {
        display: flex;
        width: 100%;
        height: 250px;
        text-align: center;
        margin-bottom: 5%;


        h4 {
            color: var(--primary-color);
            font-size: 1.2em;
        }

        img{
            padding: 30px;
            border-radius: 30%;
            background: whitesmoke;            
            margin-top: 20%;                
            max-height: 100%;
            width: 10%;
            object-fit: contain;
        }


        .HR{
            display: block;
            margin-left: 15%;
            width: 100%;
            background: white;
        }
        .Staffing{
            display: block;
            margin-left: 2%;
            width: 100%;
            background: white;
        }
        .Payroll{
            display: block;
            margin-left: 2%;
            margin-right: 15%;
            width: 100%;
            background: white;

        }
        .container{
            padding: 20px;
            // border: 1px solid green;
            // border-radius: 50%;
            background-color: #448CF0;
            // background: whitesmoke;            
        }

    }

    .services-cta {
        width: 100%;
        text-align: center;

        span {
            color: white;
            padding: 1%;
            background: var(--secondary-color);
            font-weight: lighter;
            font-size: small;
            border-radius: 5%;
        }
    }
}

.footer {
    background: var(--primary-color);
    color: white;
    height: 560px;

    .footer-banner {
        padding-top: 20px;
        text-align: center;
        display: block;
        margin-bottom: 100px;

        .footer-mantra {
            font-size: 2.5em;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .footer-cta {
            text-decoration: none;
            padding: 10px;
            background: white;
            font-size: 1.0em;
            color: var(--primary-color);
            border: 2px solid white;
            border-radius: 20px;
        }
    }

    .footer-info {
        display: flex;
        // height: 400px;
        width: 90%;
        margin: 0 5% 5% 5%;
        place-content: space-between;
        line-height: 200%;

        .current {
            font-weight: bold;
            font-size: 1.2em;
        }


    }

    a {
        color: white;
    }

    a {
        text-decoration: none;
    }

    .social-media-icons{
        display: flex;

        img{
            margin-right: 16px;
            height: 24px;
            width: 24px;
        }
    }

    .floating-chat {
        float: right;
        padding: 10px;
        width: 2%;
        z-index: 999;
        bottom: 10%;
        right: 2%;
        border: 0.1px solid white;
        border-radius: 50%;
        background: var(--secondary-color);
        position: fixed;

        img {
            width: 100%;
        }
    }
}